apiVersion: apps/v1
kind: Deployment
metadata:
  name: bb-movie-char-deployment
spec:
  replicas: 6 # You can adjust the number of replicas as needed
  selector:
    matchLabels:
      app: bb-movie-char
  template:
    metadata:
      labels:
        app: bb-movie-char
    spec:
      containers:
        - name: bb-movie-char
          image: yash5090/bb-movie-char:latest # Replace with the actual image tag
          ports:
            - containerPort: 3000 # Replace with the port your Tetris game listens on
