apiVersion: v1
kind: Service
metadata:
  name: bb-movie-char-service
spec:
  selector:
    app: bb-movie-char
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: LoadBalancer
